<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AllowTextColors</key>
  <true/>

  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>

  <key>CFBundleGetInfoString</key>
  <string>Adwaita Message Style</string>

  <key>CFBundleIdentifier</key>
  <string>org.gnome.empathy.Adwaita.style</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>1.0</string>

  <key>CFBundleName</key>
  <string>Adwaita</string>

  <key>CFBundlePackageType</key>
  <string>AdIM</string>

  <key>DefaultBackgroundColor</key>
  <string>333333</string>
  
  <key>DefaultVariant</key>
  <string>Dark</string>

  <key>MessageViewVersion</key>
  <integer>4</integer>

  <key>DisableCombineConsecutive</key>
  <false/>

</dict>
</plist>
